*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resultado{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    width: 228px;
    font-size: 25px;
    text-align: right;
    padding: 15px 10px 10px 5px;
    
    
}

.line_{
    margin: 2px;

}
.botaonumber{
  display: flex;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  


}