*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-image:url(rm373batch13-086.jpg);
    background-size: 1920px;

}   

main{
    margin: auto;   
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
    margin-top: 168px;
    background-color: rgba(0, 0, 0, 0.534);
    max-width: 300px;
    height: 426px;
    border-radius: 10px; 
    border: solid 0.7px rgba(194, 187, 173, 0.466);
   
}

#resultado{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 16px;
    max-height: 60px;
    max-width: 248px;
    font-size: 28px;
    text-align: right;
    padding: 15px 10px 0px 5px;
    background-color: rgba(49, 47, 47, 0.425);
    border: solid;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.726);
    
    
}

.line_{
    margin: 1px;
    
}
button{
    border: none;
    background-color: rgba(30, 31, 32, 0.788);
    border: solid 2px gray;
    border-radius: 45%;
    margin: 5px;
}

.botaonumber{
    font-size: 9px;
    display: flex;
    width: 48px;
    height: 48px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(228, 232, 235);  
    
    
    

}
.botaonumber:hover{
    background-color: rgb(9, 69, 119);
    cursor: pointer;
    border-radius: 45%;
}

.test{
    width: 100px;
    background-color: rgba(240, 248, 255, 0.445);
    height: 100px;

}